<html>
<head>
<title>{{page_name}} - {{site_name}} | {{cms_name}}</title>

<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta http-equiv="expires" content="-1">
<meta http-equiv="expires" content="Mon, 01 Jan 1970 23:59:59 GMT">
<meta http-equiv="pragma" content="no-cache">

<script src="/js/jquery.min.js"></script>

<script type="text/javascript">
	function dropMenuSwitch(e, visible)
	{
        e.preventDefault();

        var el = $(e.target).parent().children('.tabDropMenu').first();

 		if (visible || el.css('visibility') == 'visible')
		{
            el.css('visibility', 'hidden');
            el.css('display', 'none');
		}
		else
		{
            el.css('visibility', 'visible');
            el.css('display', 'block');

            setTimeout(function(){ dropMenuSwitch(e, true); }, 4200, e);
		}
	}
</script>

</head>

<link rel="stylesheet" type="text/css" href="{{theme.css_url}}">

<body>

{% include 'cp._header' %}

{% include 'cp._breadcrumbs' %}


<div class="main-content">
	{% block mainContent %}
		<p>Seems to be missing some content, bucko.</p>
	{% endblock %}
</div>

	<div class="copyright"><img src="https://groot.app/themes/cp_global_images/logo_small.gif" border="0" width="30" height="30" alt="Groot CMS Logo">
		<br>

		<a href="https://arliden.com/">{{cms_name}} {{cms_version}}</a> • © Copyright 2017 - Arliden, LLC.<br>
		Page created in {{page_creation_time}} seconds • {{total_queries}} SQL queries used<br>
		Build:&nbsp;&nbsp;{{cms_version}}
	</div>


</body>
</html>

