
{% extends "_page" %}

{% block mainContent %}

    <h1>Groot CMS Installed!</h1>

    <div class="border red">
        <p>
            <strong>Important:</strong> Delete the file called <strong>install.php</strong> from your server. Leaving it on your server presents a security risk.
        </p>
    </div>

    <div class="shade settingsArea">

        <h3>Please bookmark these two links:</h3>

        <div style="margin-left: 15px;">
            <h5><a href="./admin.php">Click here to access your control panel</a></h5>

            <h5><a href='{{site_url}}'>Click here to view your site</a></h5>
        </div>

        <h5>Enjoy Groot CMS!</h5>
    </div>

{% endblock %}