
{% extends "_page" %}

{% block mainContent %}

    <h1>Kilvin CMS Installed!</h1>

    <div class="border red">
        <p>
            <strong>Important:</strong> Delete the file called <strong>install.php</strong> from your server. Leaving it on your server presents a security risk.
        </p>
    </div>

    <div class="shade settingsArea">

        <div style="margin-left: 15px;">
            <h5><a href="./admin.php">Your control panel</a></h5>

            <h5><a href='{{site_url}}'>View your site</a></h5>
        </div>

        <h5>Enjoy Kilvin CMS!</h5>
    </div>

{% endblock %}